*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(26,31,158,1) 0%, rgba(11,7,38,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 35rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(14, 11, 11, 0.747);
    border-radius: 30px;
    box-shadow: 0 8px 32px blue;
}
.img img{
    border-radius: 20%;
    position: absolute;
    left: 18%;
    top: 28%;
    box-shadow: 0 0 10px white;
}
img{
    animation: img 1s ease-in-out;
}
@keyframes img{
    0%{
        transform: translateX(-30%);
    }
}
header{
    top: 13%;
    position: absolute;
    left: 10%;
    font-size: 30px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: header 1s ease-in-out;
}
@keyframes header{
    0%{
        transform: translateX(-100%);
    }
}
nav{
    top: 14%;
    position: absolute;
    right: 10%;
    animation: nav 1s ease-in-out;
}
@keyframes nav{
    0%{
        transform: translateY(-100%);
    }
}
nav a{
    text-decoration: none;
    margin-right: 50px;
    font-size: 25px;
    color: aliceblue;
    transition: .3s;
}
.active{
    color: blue;
}
nav a:hover{
    color: rgb(49, 49, 236);   
}
.main1 h2{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-shadow: 5px 5px 2px black;
    position: absolute;
    top: 30%;
    left: 45%;
}
.main1 h2 span{
    color: blue;
}
.main1 h5{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-shadow: 5px 5px 2px black;
    position: absolute;
    top: 40%;
    left: 45%;
}
.main1 pre{
    color: aliceblue;
    font-family: cursive;
    font-size: 15px;
    text-shadow: 5px 5px 2px black;
    position: absolute;
    top: 48%;
    left: 45%;
}
.h2m{
    animation: h2m 1s ease-in-out;
}
@keyframes h2m{
    0%{
        transform: translateY(-100%);
    }
}
.h5m{
    animation: h5m 1s ease-in-out;
}
@keyframes h5m{
    0%{
        transform: translateX(100%);
    }
}
.prem{
    animation: prem 1s ease-in-out;
}
@keyframes prem{
    0%{
        transform: translateY(100%);
    }
}
.btn{
    display: inline-block;
    padding: 12px 30px;
    background: blue;
    border-radius: 20px;
    text-decoration: none;
    color: rgba(253, 241, 241, 0.603);
    box-shadow: 0 0 20px blue;
    position: absolute;
    top: 70%;
    left: 45%;
    animation: btn 1s ease-in-out;
}
@keyframes btn{
    0%{
        transform: translateY(100%);
    }
}
@media screen and (max-width:1200px){
    main{
        width: 90%;
        text-align: center;
        position: absolute;
        left: 5%;
    }
    header{
        font-size: 25px;
        position: absolute;
        top: 8%;
        left: 7%;
    }
    nav{
        position: absolute;
        right: 5%;
        top: 18%;
    }
    nav a{
        font-size: 20px;
        margin-right: 15px;
    }
    .img img{
        width: 100%;
        max-width: 30%;
        max-height: 100px;
        position: absolute;
        top: 30%;
        left: 8%;
    }
    .main1 .h2m{
        font-size: 30px;
        position: absolute;
        top: 30%;
        left: 200px;
    }
    .main1 .h5m{
        font-size: 25px;
        position: absolute;
        top: 40%;
        left: 200px;
    }
    .main1 .prem{
        font-size: 14px;
        position: absolute;
        top: 58%;
        left: 6%;
    }
    .btn{
        position: absolute;
        left: 35%;
        top: 85%;
    }


}